{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}

<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-12 mx-auto ">
      <div class="flex flex-col text-center w-full mb-12 ">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Create Your Account</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Your account will keep details for your offsets for your reference. <br> We do not exploit your data</p>
      </div>
      <div class="lg:w-1/4 md:w-2/5 mx-auto ">
        <div class="text-left mx-400">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Signup</button>
            </form>
        </div>
      </div>
    </div>
  </section>



{% endblock %}