{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header>
    <div class="relative overflow-hidden bg-cover bg-no-repeat" style="
        background-position: 50%;
        background-image: url('https://tecdn.b-cdn.net/img/new/slides/146.webp');
        height: 350px;
      ">
      <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.75)">
        <div class="flex h-full items-center justify-center">
          <div class="px-6 text-center text-white md:px-12">
            <h1 class="mb-6 text-5xl font-bold">Current Projects</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-24 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Sport Facilities</h2>
        <p class="mb-4 text-justify">
            Addressing the pervasive issue of plastic pollution is imperative for safeguarding the environment and its inhabitants. The detrimental impact on wildlife and their habitats, coupled with the adverse effects on human populations, underscores the urgency of finding sustainable solutions. According to the UN, it is one of the biggest environmental challenges facing humanity; estimates suggest that 79% of plastic waste is sent to landfills or the ocean, while only 9% is recycled, and 12% gets incinerated, 25 trillion macro & 51 trillion microplastics litter our oceans and if nothing is done by 2025, about 250 million metric tons of plastic will likely enter the oceans.
        </p>
        <p class="mb-4 text-justify">
            Climateneutralsports.com stands at the forefront of this battle, not only by mitigating plastic pollution, but also by ingeniously repurposing recycled materials. By transforming plastic and other pollutants into playgrounds and sports facilities, the organization tackles environmental hazards and leverages sports as a catalyst for positive change. Through clubs and fans offsetting funds, Climateneutralsports.com pioneers a unique approach where the love for sports becomes a driving force in the development of underprivileged areas. In this symbiotic relationship, sport finances its own growth, fostering a sustainable cycle that not only cleanses our environment but also nurtures communities through the power of athletics.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1" />
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2" />
      </div>
    </div>
  </section>

  <section id=section2 class="bg-green-100 dark:bg-gray-900">
    <div class="gap-16 items-center py-24 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1" />
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2" />
        </div>

        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Reforestation</h2>
        <p class="mb-4 text-justify">
            Reforestation stands as a critical weapon in the global arsenal against climate change, playing a pivotal role in mitigating the detrimental effects of carbon dioxide emissions. Through initiatives like those offered by Climateneutralsports.com, which utilize offsetting to support reforestation projects, we contribute to the restoration of vital ecosystems. Trees, acting as nature's carbon sinks, absorb and store significant amounts of carbon dioxide, effectively countering the greenhouse gas emissions responsible for climate change.
        <p class="mb-4 text-justify">
            By strategically planting trees and rejuvenating forests, we enhance biodiversity and create a natural defense mechanism against the escalating climate crisis. The commitment to reforestation is an indispensable step toward achieving carbon neutrality and fostering a sustainable future for our planet.
        </p>
      </div>

    </div>
  </section>

  <section id=section3 class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-24 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Improved Cookstoves</h2>
        <p class="mb-4 text-justify">
            The adoption of improved cookstoves in rural areas of Africa presents a multifaceted boon for the environment, and initiatives like Climateneutralsports.com play a pivotal role in catalyzing this positive change. These advanced cooking appliances are designed to be more energy-efficient, significantly reducing the reliance on traditional biomass fuels like wood and charcoal. As a result, the improved cookstoves mitigate deforestation, preserving vital ecosystems and biodiversity.
        </p>
        <p class="mb-4 text-justify">
            Beyond environmental conservation, they also diminish indoor air pollution, a prevalent health hazard in many households, particularly impacting women, and children. Climateneutralsports.com provision of these stoves not only contributes to mitigating climate change but aligns with the United Nations SDGs. By addressing issues of clean energy (SDG 7), climate action (SDG 13), and health and well-being (SDG 3), the organization creates a positive ripple effect, fostering a sustainable and harmonious relationship between communities and their natural surroundings.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1" />
        <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2" />
      </div>
    </div>
  </section>

  <section id=section4 class="bg-green-100 dark:bg-gray-900 mb-24">
    <div class="gap-16 items-center py-24 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1" />
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2" />
        </div>

        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Education</h2>
        <p class="mb-4 text-justify">
            Education stands as the cornerstone of progress, particularly in developing countries, where it holds the key to unlocking vast potential. Climateneutralsports.com recognizes the transformative power of education and aligns its mission with the United Nations SDGs. By channeling offsetting funds from clubs and fans, the organization endeavors to bridge educational gaps in developing nations. The aim is not only to build schools, but also to create a conducive learning environment by providing essential educational facilities.
        <p class="mb-4 text-justify">
            This holistic approach not only addresses SDG 4, Quality Education, but also contributes to the broader agenda of eradicating poverty, promoting health, and fostering sustainable communities. Climateneutralsports.com thus champions the belief that education is not only a fundamental right but a catalyst for positive change, laying the foundation for a brighter, more equitable future in the developing world.
        </p>
      </div>

    </div>
  </section>


{% endblock %}
